name: "Publish to Hashnode"

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v44

      - name: Sync to Hashnode
        uses: iammarmirza/hashnode-github-sync@v1.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          hashnode_host: "surajoncloud.hashnode.dev"
          hashnode_token: ${{ secrets.HASHNODE_TOKEN }}
          added_files: ${{ steps.changed-files.outputs.added_files }}
          modified_files: ${{ steps.changed-files.outputs.modified_files }}
          deleted_files: ${{ steps.changed-files.outputs.deleted_files }}
